################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Database
/.vs/WCS/config
/.vs/WCS/v16
/.vs/WCS/DesignTimeBuild
